* {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #eee;
    margin: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 32px 0;
}

.link-span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    width: 40%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;
}

.loading-spinner {
    border: 3px solid #eee;
    border-radius: 50%;
    border-top: 3px solid #3A506B;
    width: 36px;
    height: 36px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    margin: auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.row-button {
    display: block;
    margin: auto;
    margin-bottom: 12px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #3A506B;
    border-radius: 2px;
    width: 75%;
    padding: 0;
    max-width: 600px;
    font-size: 1.125rem;
    font-weight: 400;
    color: #fff;
    height: 32px;
    background-color: #3A506B;
}

.facebook-row-button {
    color: #3A506B;
    background-color: #fff;
}

.row-button > * {
    vertical-align: middle;
}

.button-facebook-logo {
    width: 20px;
    margin-right: 6px;
}

.button-label {
    line-height: 28px;
}

.my-form {
    width: 75%;
    max-width: 400px;
    margin: auto;
}

.form-field-container {
    margin-bottom: 8px;
}

.form-field-title {
    color: #9f9f9f;
    font-size: 0.875rem;
}

.form-field-title.invalid-value {
    color: #f44336;
}

.form-field-title.valid-value {
    color: #9f9f9f;
}

.radio-container {
    height: 32px;
}

.my-radio-input {
    display: none;  
}

.radio-button {
    width: 50%;
    height: 100%;
    border: 2px solid #3A506B;
    padding: 0;
    background-color: #fff;
    color: #3A506B;
    font-size: 1rem;
    line-height: 28px;
}

.radio-button.is-checked {
    background-color: #3A506B;
    color: #fff;
}

.radio-container > .radio-button:first-child {
    border-radius: 2px 0 0 2px;
}

.radio-container > .radio-button:last-child {
    border-radius: 0 2px 2px 0;
}

.radio-container > .radio-button:nth-child(odd) {
    border-right-width: 1px;
}

.radio-container > .radio-button:nth-child(even) {
    border-left-width: 1px;
}

.select-container {
    position: relative;
    height: 32px;
}

.select-container:before {
    content: attr(data-content);
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #3A506B;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #3A506B;
    background-color: #fff;
    line-height: 28px;
}

.select {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.select-submit-container {
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 32px;
}

.select-submit-container:before {
    position: absolute;
    content: "Search";
    text-align: center;
    line-height: 28px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #3A506B;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    font-size: 1.125rem;
    font-weight: 400;
    color: #fff;
    background-color: #3A506B;
}

.select-submit {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.carpool-list-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.carpool-cell-container {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid #5BC0BE;
    margin: 0 10px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.carpool-price-title {
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 0.875rem;
    color: #5BC0BE;
}

.carpool-route-container {
    width: 100%;
    margin: auto;
    position: relative;
}

.carpool-route-table-container {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.carpool-location-container {
    display: table-cell;
    text-align: center;
    padding: 0 10px;
}

.carpool-location-title {
    color: #3A506B;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 0.125rem;
    display: block;
    text-transform: uppercase;
}

.carpool-location-subtitle {
    color: #5BC0BE;
    font-size: 0.875rem;
    display: block;
}

.carpool-route-arrow {
    width: 32px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, -10px);
}

.carpool-time-container {
    display: table;
    width: 100%;
    margin-top: 14px;
    table-layout: fixed;
}

.carpool-time-title {
    color: #3A506B;
    font-size: 1.25rem;
    display: table-cell;
}

.no-post-text {
    display: block;
    text-align: center;
    color: #3A506B;
    margin-bottom: 12px;
    font-size: 1.25rem;
}

.text-button {
    line-height: 28px;
}
